.flag16{display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(../images/flags16.png) no-repeat;}
.flag16.xx{background-position:0 0px;}
.flag16._African_Union(OAS){background-position:0 -16px;}
.flag16._Arab_League{background-position:0 -32px;}
.flag16._ASEAN{background-position:0 -48px;}
.flag16._CARICOM{background-position:0 -64px;}
.flag16._CIS{background-position:0 -80px;}
.flag16._Commonwealth{background-position:0 -96px;}
.flag16._England{background-position:0 -112px;}
.flag16._European_Union{background-position:0 -128px;}
.flag16._Islamic_Conference{background-position:0 -144px;}
.flag16._Kosovo{background-position:0 -160px;}
.flag16._NATO{background-position:0 -176px;}
.flag16._Northern_Cyprus{background-position:0 -192px;}
.flag16._Northern_Ireland{background-position:0 -208px;}
.flag16._Olimpic_Movement{background-position:0 -224px;}
.flag16._OPEC{background-position:0 -240px;}
.flag16._Red_Cross{background-position:0 -256px;}
.flag16._Scotland{background-position:0 -272px;}
.flag16._Somaliland{background-position:0 -288px;}
.flag16._Tibet{background-position:0 -304px;}
.flag16._United_Nations{background-position:0 -320px;}
.flag16._Wales{background-position:0 -336px;}
.flag16.ad{background-position:0 -352px;}
.flag16.ae{background-position:0 -368px;}
.flag16.af{background-position:0 -384px;}
.flag16.ag{background-position:0 -400px;}
.flag16.ai{background-position:0 -416px;}
.flag16.al{background-position:0 -432px;}
.flag16.am{background-position:0 -448px;}
.flag16.an{background-position:0 -464px;}
.flag16.ao{background-position:0 -480px;}
.flag16.aq{background-position:0 -496px;}
.flag16.ar{background-position:0 -512px;}
.flag16.as{background-position:0 -528px;}
.flag16.at{background-position:0 -544px;}
.flag16.au{background-position:0 -560px;}
.flag16.aw{background-position:0 -576px;}
.flag16.az{background-position:0 -592px;}
.flag16.ba{background-position:0 -608px;}
.flag16.bb{background-position:0 -624px;}
.flag16.bd{background-position:0 -640px;}
.flag16.be{background-position:0 -656px;}
.flag16.bf{background-position:0 -672px;}
.flag16.bg{background-position:0 -688px;}
.flag16.bh{background-position:0 -704px;}
.flag16.bi{background-position:0 -720px;}
.flag16.bj{background-position:0 -736px;}
.flag16.bm{background-position:0 -752px;}
.flag16.bn{background-position:0 -768px;}
.flag16.bo{background-position:0 -784px;}
.flag16.br{background-position:0 -800px;}
.flag16.bs{background-position:0 -816px;}
.flag16.bt{background-position:0 -832px;}
.flag16.bw{background-position:0 -848px;}
.flag16.by{background-position:0 -864px;}
.flag16.bz{background-position:0 -880px;}
.flag16.ca{background-position:0 -896px;}
.flag16.cg{background-position:0 -912px;}
.flag16.cf{background-position:0 -928px;}
.flag16.cd{background-position:0 -944px;}
.flag16.ch{background-position:0 -960px;}
.flag16.ci{background-position:0 -976px;}
.flag16.ck{background-position:0 -992px;}
.flag16.cl{background-position:0 -1008px;}
.flag16.cm{background-position:0 -1024px;}
.flag16.cn{background-position:0 -1040px;}
.flag16.co{background-position:0 -1056px;}
.flag16.cr{background-position:0 -1072px;}
.flag16.cu{background-position:0 -1088px;}
.flag16.cv{background-position:0 -1104px;}
.flag16.cy{background-position:0 -1120px;}
.flag16.cz{background-position:0 -1136px;}
.flag16.de{background-position:0 -1152px;}
.flag16.dj{background-position:0 -1168px;}
.flag16.dk{background-position:0 -1184px;}
.flag16.dm{background-position:0 -1200px;}
.flag16.do{background-position:0 -1216px;}
.flag16.dz{background-position:0 -1232px;}
.flag16.ec{background-position:0 -1248px;}
.flag16.ee{background-position:0 -1264px;}
.flag16.eg{background-position:0 -1280px;}
.flag16.eh{background-position:0 -1296px;}
.flag16.er{background-position:0 -1312px;}
.flag16.es{background-position:0 -1328px;}
.flag16.et{background-position:0 -1344px;}
.flag16.fi{background-position:0 -1360px;}
.flag16.fj{background-position:0 -1376px;}
.flag16.fm{background-position:0 -1392px;}
.flag16.fo{background-position:0 -1408px;}
.flag16.fr{background-position:0 -1424px;}
.flag16.ga{background-position:0 -1440px;}
.flag16.gb{background-position:0 -1456px;}
.flag16.gd{background-position:0 -1472px;}
.flag16.ge{background-position:0 -1488px;}
.flag16.gg{background-position:0 -1504px;}
.flag16.gh{background-position:0 -1520px;}
.flag16.gi{background-position:0 -1536px;}
.flag16.gl{background-position:0 -1552px;}
.flag16.gm{background-position:0 -1568px;}
.flag16.gn{background-position:0 -1584px;}
.flag16.gp{background-position:0 -1600px;}
.flag16.gq{background-position:0 -1616px;}
.flag16.gr{background-position:0 -1632px;}
.flag16.gt{background-position:0 -1648px;}
.flag16.gu{background-position:0 -1664px;}
.flag16.gw{background-position:0 -1680px;}
.flag16.gy{background-position:0 -1696px;}
.flag16.hk{background-position:0 -1712px;}
.flag16.hn{background-position:0 -1728px;}
.flag16.hr{background-position:0 -1744px;}
.flag16.ht{background-position:0 -1760px;}
.flag16.hu{background-position:0 -1776px;}
.flag16.id{background-position:0 -1792px;}
.flag16.mc{background-position:0 -1792px;}
.flag16.ie{background-position:0 -1808px;}
.flag16.il{background-position:0 -1824px;}
.flag16.im{background-position:0 -1840px;}
.flag16.in{background-position:0 -1856px;}
.flag16.iq{background-position:0 -1872px;}
.flag16.ir{background-position:0 -1888px;}
.flag16.is{background-position:0 -1904px;}
.flag16.it{background-position:0 -1920px;}
.flag16.je{background-position:0 -1936px;}
.flag16.jm{background-position:0 -1952px;}
.flag16.jo{background-position:0 -1968px;}
.flag16.jp{background-position:0 -1984px;}
.flag16.ke{background-position:0 -2000px;}
.flag16.kg{background-position:0 -2016px;}
.flag16.kh{background-position:0 -2032px;}
.flag16.ki{background-position:0 -2048px;}
.flag16.km{background-position:0 -2064px;}
.flag16.kn{background-position:0 -2080px;}
.flag16.kp{background-position:0 -2096px;}
.flag16.kr{background-position:0 -2112px;}
.flag16.kw{background-position:0 -2128px;}
.flag16.ky{background-position:0 -2144px;}
.flag16.kz{background-position:0 -2160px;}
.flag16.la{background-position:0 -2176px;}
.flag16.lb{background-position:0 -2192px;}
.flag16.lc{background-position:0 -2208px;}
.flag16.li{background-position:0 -2224px;}
.flag16.lk{background-position:0 -2240px;}
.flag16.lr{background-position:0 -2256px;}
.flag16.ls{background-position:0 -2272px;}
.flag16.lt{background-position:0 -2288px;}
.flag16.lu{background-position:0 -2304px;}
.flag16.lv{background-position:0 -2320px;}
.flag16.ly{background-position:0 -2336px;}
.flag16.ma{background-position:0 -2352px;}
.flag16.md{background-position:0 -2368px;}
.flag16.me{background-position:0 -2384px;}
.flag16.mg{background-position:0 -2400px;}
.flag16.mh{background-position:0 -2416px;}
.flag16.mk{background-position:0 -2432px;}
.flag16.ml{background-position:0 -2448px;}
.flag16.mm{background-position:0 -2464px;}
.flag16.mn{background-position:0 -2480px;}
.flag16.mo{background-position:0 -2496px;}
.flag16.mq{background-position:0 -2512px;}
.flag16.mr{background-position:0 -2528px;}
.flag16.ms{background-position:0 -2544px;}
.flag16.mt{background-position:0 -2560px;}
.flag16.mu{background-position:0 -2576px;}
.flag16.mv{background-position:0 -2592px;}
.flag16.mw{background-position:0 -2608px;}
.flag16.mx{background-position:0 -2624px;}
.flag16.my{background-position:0 -2640px;}
.flag16.mz{background-position:0 -2656px;}
.flag16.na{background-position:0 -2672px;}
.flag16.nc{background-position:0 -2688px;}
.flag16.ne{background-position:0 -2704px;}
.flag16.ng{background-position:0 -2720px;}
.flag16.ni{background-position:0 -2736px;}
.flag16.nl{background-position:0 -2752px;}
.flag16.no{background-position:0 -2768px;}
.flag16.np{background-position:0 -2784px;}
.flag16.nr{background-position:0 -2800px;}
.flag16.nz{background-position:0 -2816px;}
.flag16.om{background-position:0 -2832px;}
.flag16.pa{background-position:0 -2848px;}
.flag16.pe{background-position:0 -2864px;}
.flag16.pf{background-position:0 -2880px;}
.flag16.pg{background-position:0 -2896px;}
.flag16.ph{background-position:0 -2912px;}
.flag16.pk{background-position:0 -2928px;}
.flag16.pl{background-position:0 -2944px;}
.flag16.pr{background-position:0 -2960px;}
.flag16.ps{background-position:0 -2976px;}
.flag16.pt{background-position:0 -2992px;}
.flag16.pw{background-position:0 -3008px;}
.flag16.py{background-position:0 -3024px;}
.flag16.qa{background-position:0 -3040px;}
.flag16.re{background-position:0 -3056px;}
.flag16.ro{background-position:0 -3072px;}
.flag16.rs{background-position:0 -3088px;}
.flag16.ru{background-position:0 -3104px;}
.flag16.rw{background-position:0 -3120px;}
.flag16.sa{background-position:0 -3136px;}
.flag16.sb{background-position:0 -3152px;}
.flag16.sc{background-position:0 -3168px;}
.flag16.sd{background-position:0 -3184px;}
.flag16.se{background-position:0 -3200px;}
.flag16.sg{background-position:0 -3216px;}
.flag16.si{background-position:0 -3232px;}
.flag16.sk{background-position:0 -3248px;}
.flag16.sl{background-position:0 -3264px;}
.flag16.sm{background-position:0 -3280px;}
.flag16.sn{background-position:0 -3296px;}
.flag16.so{background-position:0 -3312px;}
.flag16.sr{background-position:0 -3328px;}
.flag16.st{background-position:0 -3344px;}
.flag16.sv{background-position:0 -3360px;}
.flag16.sy{background-position:0 -3376px;}
.flag16.sz{background-position:0 -3392px;}
.flag16.tc{background-position:0 -3408px;}
.flag16.td{background-position:0 -3424px;}
.flag16.tg{background-position:0 -3440px;}
.flag16.th{background-position:0 -3456px;}
.flag16.tj{background-position:0 -3472px;}
.flag16.tl{background-position:0 -3488px;}
.flag16.tm{background-position:0 -3504px;}
.flag16.tn{background-position:0 -3520px;}
.flag16.to{background-position:0 -3536px;}
.flag16.tr{background-position:0 -3552px;}
.flag16.tt{background-position:0 -3568px;}
.flag16.tv{background-position:0 -3584px;}
.flag16.tw{background-position:0 -3600px;}
.flag16.tz{background-position:0 -3616px;}
.flag16.ua{background-position:0 -3632px;}
.flag16.ug{background-position:0 -3648px;}
.flag16.us{background-position:0 -3664px;}
.flag16.uy{background-position:0 -3680px;}
.flag16.uz{background-position:0 -3696px;}
.flag16.va{background-position:0 -3712px;}
.flag16.vc{background-position:0 -3728px;}
.flag16.ve{background-position:0 -3744px;}
.flag16.vg{background-position:0 -3760px;}
.flag16.vi{background-position:0 -3776px;}
.flag16.vn{background-position:0 -3792px;}
.flag16.vu{background-position:0 -3808px;}
.flag16.ws{background-position:0 -3824px;}
.flag16.ye{background-position:0 -3840px;}
.flag16.za{background-position:0 -3856px;}
.flag16.zm{background-position:0 -3872px;}
.flag16.zw{background-position:0 -3888px;}

.flag16.yu{background-position:0 -3904px;}
.flag16.zz{background-position:0 -3920px;}
.flag16.yemen-north{background-position:0 -3936px;}
.flag16.yemen-south{background-position:0 -3952px;}
.flag16.vietnam-south{background-position:0 -3968px;}
.flag16.urss{background-position:0 -3984px;}
.flag16.transnistrie{background-position:0 -4000px;}
.flag16.timor-oriental{background-position:0 -4016px;}
.flag16.chechnya{background-position:0 -4032px;}
.flag16.tanganyika{background-position:0 -4048px;}
.flag16.south-sudan{background-position:0 -4064px;}
.flag16.serbia-montenegro{background-position:0 -4080px;}
.flag16.rep-serbe-de-bosnie{background-position:0 -4096px;}
.flag16.rhodesie{background-position:0 -4112px;}
.flag16.krajina{background-position:0 -4128px;}
.flag16.haute-volta{background-position:0 -4144px;}
.flag16.abkhazie{background-position:0 -4160px;}
.flag16.anjouan{background-position:0 -4176px;}
.flag16.biafra{background-position:0 -4192px;}
.flag16.congo-brazzaville{background-position:0 -4208px;}
.flag16.rd-congo{background-position:0 -4224px;}
.flag16.rda{background-position:0 -4240px;}

